/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3e2723;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Hero Section */
.hero {
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 70px;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-content p {
    margin-bottom: 20px;
}

.hero-content button {
    padding: 10px 25px;
    border: none;
    background-color: #3e2723;
    color: white;
    cursor: pointer;
}

/* Position Example */
.coffee-badge {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #47322b;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
}

/* Menu Section */
.menu {
    padding: 60px 40px;
    text-align: center;
}

.menu h2 {
    margin-bottom: 40px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-card {
    background-color: #efebe9;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}
/* Order Section */
.order {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

/* Form */
.order-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
}

.order-form input,
.order-form textarea {
    padding: 10px;
    border: 1px solid #999;
    font-size: 14px;
}

.order-form textarea {
    height: 100px;
    resize: none;
}

.order-form button {
    width: fit-content;
    padding: 8px 20px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
}